# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/

# Build / dist
build/
dist/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# macOS
.DS_Store

# Model_weights
models/*.pth
models/*.pt

# sample_data
data/*
!data/sample_ecg.csv

# Log
*.log

# Certification
*.key
*.pem
